In [1]:
import pandas as pd

#### Eres duplicate OCLC # summary

In [2]:
e3_fh = "../files/GovDocs-eres-mon-3-SierraExport.txt"

In [4]:
e3df = pd.read_csv(e3_fh, quotechar='"', header=0, delimiter="^", names=["bibNo", "matType", "loc", "controlNo", "itemNo", "orderNo", "holdingNo"])

In [5]:
e3df.shape[0]

11992

In [6]:
e3df.head(2)

        bibNo matType    loc  controlNo itemNo  orderNo  holdingNo
0  b180180654     w    ia     310982717    NaN      NaN        NaN
1  b180371502     w    ia     310982788    NaN      NaN        NaN

In [7]:
e3df["matType"].value_counts()

matType
w      11975
a         17
Name: count, dtype: int64

In [8]:
e3df["loc"].value_counts()

loc
ia              11067
iarch             904
mal                19
ia,iarch,mai        1
ia,mai              1
Name: count, dtype: int64

In [11]:
e3df["itemNo"].value_counts()

itemNo
i241187886    1
i246716721    1
Name: count, dtype: int64

In [19]:
attached_records = e3df[(e3df["itemNo"].notnull())|(e3df["orderNo"].notnull())|(e3df["holdingNo"].notnull())]

In [20]:
attached_records.head()

           bibNo matType    loc  controlNo      itemNo  orderNo  holdingNo
2758  b180623771     a    mal    368145067  i241187886      NaN        NaN
9136  b182335859     a    mal    503462967  i246716721      NaN        NaN

In [9]:
dupControlNo = e3df[e3df.duplicated(subset=["controlNo"], keep=False)]

In [38]:
dupControlNo.head()

          bibNo matType    loc  controlNo
105  b180900092     w    iarch  311864679
106  b223760985     w    ia     311864679
159  b180302875     w    ia     312149133
160  b180908765     w    iarch  312149133
167  b180302929     w    ia     312161298

In [10]:
dupControlNo["matType"].value_counts()

matType
w      3981
a         2
Name: count, dtype: int64

In [40]:
dupControlNo["loc"].value_counts()

loc
ia       3215
iarch     766
mal         2
Name: count, dtype: int64

In [41]:
dupControlNo.to_csv("../files/dupControlNo.csv", index=False)

In [42]:
matType_not_w = e3df[e3df["matType"] != "w  "]

In [43]:
matType_not_w.to_csv("../files/matType-not-w.csv", index=False)

In [ ]:
loc_not_eres = e3df[(e3df["loc"] != "ia   ") & (e3df["loc"] != "iarch")]

In [47]:
loc_not_eres.to_csv("../files/loc-not-eres.csv", index=False)