In [5]:
import pandas as pd

In [6]:
sierra_fh = "../files/GovDocs-Sierra-oclcNos.txt"
oclc_fh = "../files/GovDocs-OCLC-print-ALL.csv"

In [7]:
sdf = pd.read_csv(sierra_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008", "bibNo", "matType", "loc"], dtype={"oclcNo": str})

In [8]:
sdf.shape[0]

340218

In [9]:
odf = pd.read_csv(oclc_fh, header=0, sep="\t", names=["oclcNo"], dtype={"oclcNo": str})

In [10]:
odf.shape[0]

114659

In [11]:
df = pd.merge(sdf, odf, how="outer", on="oclcNo", indicator=True)

In [12]:
df.shape[0]

410978

In [13]:
df.head()

,oclcNo,leader,t008,bibNo,matType,loc,_merge
0,778074564,02415ces a2200565Ii 4500,120224c20119999vauag\\bh\c\\fo\1\\\eng\d,.b195973367,w,ia,left_only
1,778074564,02415ces a2200565Ii 4500,120224c20119999vauag\\bh\c\\fo\1\\\eng\d,.b195973367,w,ia,left_only
2,778075920,02444ces a2200577Ii 4500,120224c20119999vauag\\bh\c\\fo\1\\\eng\d,.b195973379,w,ia,left_only
3,778076212,02037cam a2200457 a 4500,120224s2011\\\\dcuab\\\ob\\\f000\0\eng\c,.b195973380,w,ia,left_only
4,778076307,01660cam a2200433Ia 4500,120224s2008\\\\dcu\\\\\obf\\f000\0\eng\d,.b195973392,w,ia,left_only

In [14]:
invalid_control_no = df[df["oclcNo"].str.startswith("0")]

In [15]:
invalid_control_no.shape[0]

0

In [17]:
bdf = df[df["_merge"] == "both"]

In [18]:
bdf.shape[0]

43899

In [19]:
bdf.head()

,oclcNo,leader,t008,bibNo,matType,loc,_merge
689,29231030,01772nam a2200433 a 4500,931130s1993\\\\dcu\\\\\\\\\\f000\0\eng\c,.b19598030x,h,mai,both
691,30084650,02230nam a2200529 a 4500,940404s1986\\\\pauab\\\bbt\\f000\0\eng\c,.b195980323,h,mai,both
692,35629809,02011nam a2200469 a 4500,960925s1996\\\\dcua\\\\\b\\\f000\0\eng\c,.b195980335,h,mai,both
2933,34232546,02047nam a2200505 a 4500,960221s1985\\\\caua\\\\bbt\\f000\0\eng\c,.b196326205,h,mai,both
2934,34233867,02373nam a2200505 a 4500,960221s1985\\\\dcua\\\\bbm\\f000\0\eng\c,.b196326217,h,mai,both

In [20]:
bdf["matType"].value_counts()

h    42346
a     1501
w       47
e        2
s        2
k        1
Name: matType, dtype: int64

In [21]:
bdf["loc"].value_counts()

mai          43051
ls             780
ia              34
iarch;ia        10
slr             10
mal              8
iarch            2
ia;mai           1
scf              1
mai;iarch        1
none             1
Name: loc, dtype: int64

In [23]:
bdf[bdf["matType"] == "w"].to_csv("../files/GovDocs-print-matched-mattype-w.csv", index=False, columns=["bibNo"])

In [24]:
bldf = bdf[(bdf["loc"] == "ia")|(bdf["loc"] == "iarch")|(bdf["loc"] == "iarch;ia")|(bdf["loc"] == "ia;mai")|(bdf["loc"] == "mai;iarch")]

In [25]:
bldf.shape[0]

48

In [26]:
bldf["loc"].value_counts()

ia           34
iarch;ia     10
iarch         2
mai;iarch     1
ia;mai        1
Name: loc, dtype: int64

In [28]:
bdf.to_csv("../files/GovDocs-print-matched-SierraNos.csv", index=False, columns=["bibNo"])

In [29]:
bdf.to_csv("../files/GovDocs-print-matched-oclcNos.csv", index=False, columns=["oclcNo"])